.main{
  background-image: url('src\assets\images\bg2.jpg');
  height: 100vh;
}
.header{
  background-color: rgba(238, 238, 238, 0);
}
.header-title{
  color: aliceblue;
  font-family: 'IBM Plex Sans', sans-serif;
}
.medium-list {
  border-radius: 25px;
    margin: auto;
    width: 40%;
    padding: 0px;
    margin-top: 5%;
    background-color: rgba(250, 250, 250, 0);
  }
 
  .list-viewer-wrapper {
    border: 1px solid rgba(255, 255, 255, 0.007);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0), 0 0 2px rgba(0, 0, 0, .12);
    margin: 4px;
    background: rgba(255, 252, 252, 0);
    width: 80%;
    /* border-radius: 25px;
    border: 2px solid rgb(72, 72, 73); */
  }
  
  .list-viewer-title {
    margin-top: -10px;
    z-index: 10;
    height: 30vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #email, #password{
    color: rgb(8, 8, 8);
    align-self: center;
    margin-top: 3vh;
      width: 100%;
      height: 7vh;    
      background-color: rgb(255, 255, 255);
      border-radius: 25px;
  }
  #password{
    margin-right: -50px;
  }
  
  .divider {
    margin-top: 10px !important;
    background-color: rgba(39, 38, 38, 0.13);
  }
  .suggest{
    text-align: center;
    color: aliceblue;
    margin-top: 3vh;
  height: 7vh;
  }
  .header-spacer {
    flex: 1 1 auto;
  }
  .btn {
    display: inline-block;
    padding: 0 14px;
  }
  .default {color: black;}

.mat-raised-button{
  margin-top: 3vh;
  height: 7vh;
  border-radius: 25px;
  border: 20px rgb(54, 53, 53);
  background-color:rgba(35, 13, 160, 0.87);
} 
.mat-raised-button.mat-primary[disabled]{
  margin-top: 3vh;
  height: 7vh;
  border: 20px rgb(80, 6, 241);
  border-radius: 25px;
  background-color: #1a269463;
  color: #e6e0e0c2;
}