server:
  port: 8095

spring:
  application.name: InterestsService
  cloud.config.uri: http://localhost:8888
#  datasource.url: …
#  datasource.driver-class-name: …

kafka:
  ipAddress: 13.233.180.226:9092
  groupId: group_id20
  outputTopic: indexer
  linsteningTopic: interest
  containerFactory: userKafkaListenerFactory
  relationshipProperty: Working
  relationshipType: is-a
  operationType: post
  sourceNode: vivek
  sourceNodeProperties: pandey
  terminalNode: Cricket
  terminalNodeProperties: Playing