<section class="main" [formGroup]="locationForm" >
  <div class="card-title">
    <h2>Add location</h2>
    <mat-icon color="primary" (click)="addRow()" style="cursor:pointer">add</mat-icon>
  </div>
  

  <mat-dialog-content >
      <p>Current Location</p>
      <p>
        <mat-form-field>
          <input matInput placeholder="currentId" formControlName="currentId" required />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="cityName" formControlName="currentCityName" required />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="stateName" formControlName="currentStateName" required />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="pincode" formControlName="currentPincode" required />
        </mat-form-field>
      </p>
      <!-- <mat-icon color="primary" (click)="deleteRow(i)" style="cursor:pointer">delete</mat-icon> -->
  




  <div formGroupName="pastLocation">
      <p>Past Location</p>
    <div class="row-items" *ngFor="let locationControl of locationForm.controls.pastLocation.controls; let i = index" [formGroupName]="i">
      <p>
        <mat-form-field>
          <input matInput placeholder="pastId" formControlName="pastId" required />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="cityName" formControlName="pastCityName" required />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="stateName" formControlName="pastStateName" required />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="pincode" formControlName="pastPincode" required />
        </mat-form-field>
      </p>
      <mat-icon color="primary" (click)="deleteRow(i)" style="cursor:pointer">delete</mat-icon>
    </div>
    </div>
  </mat-dialog-content>
  <div class="button-row">
    <button mat-button mr-2 (click)="onClose()">Close</button>
    <button mat-raised-button (click)="onSave()" >Save</button>
  </div>
</section>