
<section class="main" [formGroup]="detailsForm" >
  <div class="card-title">
    <h2>Add Experience</h2>
    <mat-icon color="primary" (click)="addRow()" style="cursor:pointer">add</mat-icon>
  </div>
  
  <mat-dialog-content formGroupName="education">
    <div class="row-items" *ngFor="let educationControl of detailsForm.controls.education.controls; let i = index" [formGroupName]="i">
      <p>I Worked as
        <mat-form-field>
          <input matInput name="role" formControlName="role" required />
        </mat-form-field>
        in
        <mat-form-field>
          <input matInput name="organisation" formControlName="organisation" required />
        </mat-form-field>
        from
        <mat-form-field class="date">
            <input type="number" style="font-size: 23px" placeholder="dd" min="1" max="31" class="dateField1"  formControlName="fromDate">
            <input type="number" style="font-size: 23px" placeholder="mm" min="1" max="12" class="dateField"  formControlName="fromMonth">
            <input type="number" style="font-size: 23px" placeholder="yyyy" class="dateField"  formControlName="fromYear">
        </mat-form-field>
        to
        <mat-form-field class="date">
          <input type="number" style="font-size: 23px" placeholder="dd" min="1" max="31" class="dateField2"  formControlName="toDate">
          <input type="number" style="font-size: 23px" placeholder="mm" min="1" max="12" class="dateField"  formControlName="toMonth">
          <input type="number" style="font-size: 23px" placeholder="yyyy" min="2000" max="2018" class="dateField"  formControlName="toYear">
        </mat-form-field>.
      </p>
      <!-- <mat-icon color="primary" (click)="deleteRow(i)" style="cursor:pointer">delete</mat-icon> -->
    </div>
  </mat-dialog-content>
  <div class="button-row">
    <!-- <button mat-button mr-2 (click)="onClose()">Close</button> -->
    <!-- <button mat-raised-button (click)="onSave()"  [disabled]="!detailsForm.valid">Save</button> -->
  </div>
</section>