<section class="main" [formGroup]="educationForm" >
  <div class="card-title">
    <h2>Add Education</h2>
    <mat-icon color="primary" (click)="addRow()" style="cursor:pointer">add</mat-icon>
  </div>
  
  <mat-dialog-content formGroupName="education">
    <div class="row-items" *ngFor="let educationControl of educationForm.controls.education.controls; let i = index" [formGroupName]="i">
      <p>{{dataJson?.qualification}}
        <mat-form-field>
          <input matInput name="qualification" formControlName="qualification" required />
        </mat-form-field>
        {{dataJson?.institute}}
        <mat-form-field>
          <input matInput name="institute" formControlName="institute" required />
        </mat-form-field>
        {{dataJson?.from}}
        <mat-form-field class="date">
            <input matInput [matDatepicker]="startDatePicker" placeholder="Choose a date" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
        {{dataJson?.to}}
        <mat-form-field class="date">
          <input matInput [matDatepicker]="endDatePicker" placeholder="Choose a date" formControlName="endDate">
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>.
      </p>
      <mat-icon color="primary" (click)="deleteRow(i)" style="cursor:pointer">delete</mat-icon>
    </div>
  </mat-dialog-content>
  <div class="button-row">
    <button mat-button mr-2 (click)="onClose()">Close</button>
    <button mat-raised-button (click)="onSave()"  [disabled]="!educationForm.valid">Save</button>
  </div>
</section>