.button-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.card-title{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.row-items{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}