
<mat-card _ngcontent-c22="" class="example-card mat-card">
  <mat-card-header _ngcontent-c22="" class="mat-card-header">
      <div>
        <img class="rounded-circle pic" src="/src/assets/images/user-pic-unavailable.png">
      </div>
    <div class="mat-card-header-text">

      <mat-card-title _ngcontent-c22="" class="mat-card-title">
          {{employeeName}}
      </mat-card-title>
      <mat-card-subtitle _ngcontent-c22="" class="mat-card-subtitle">
          {{email}}
      </mat-card-subtitle>
    </div>
  </mat-card-header> 
  <mat-card-content _ngcontent-c22="" class="mat-card-content">
    <p _ngcontent-c22="" *ngIf="location!=null">
      Location: {{location}}
    </p>
    <div *ngIf="skills!=null">
    <p _ngcontent-c22="" *ngFor="let skill of skills">
      Skills: {{skill.skillName}}
    </p>
    </div>
  </mat-card-content>
  <mat-card-actions _ngcontent-c22="" class="mat-card-actions">
    <button _ngcontent-c22="" mat-button="" class="mat-button" (click)="viewProfile()">
      <span class="mat-button-wrapper">View Profile</span>
      <div class="mat-button-ripple mat-ripple" matripple="">

      </div>
      <div class="mat-button-focus-overlay">

      </div>
    </button>
    <button _ngcontent-c22="" mat-button="" class="mat-button">
      <span class="mat-button-wrapper">Contact</span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </button>
  </mat-card-actions>
</mat-card>
