
<mat-card _ngcontent-c22="" class="example-card mat-card">
  <mat-card-header _ngcontent-c22="" class="mat-card-header">
      <img _ngcontent-c22="" alt="Photo of a employeeName" class="mat-card-image" mat-card-image="" src="">
    <div class="mat-card-header-text">

      <mat-card-title _ngcontent-c22="" class="mat-card-title">
          {{employeeName}}
      </mat-card-title>
      <mat-card-subtitle _ngcontent-c22="" class="mat-card-subtitle">
          {{email}}
      </mat-card-subtitle>
    </div>
  </mat-card-header> 
  <mat-card-content _ngcontent-c22="" class="mat-card-content">
    <p _ngcontent-c22="">
      I have experience blah blah
    </p>
  </mat-card-content>
  <mat-card-actions _ngcontent-c22="" class="mat-card-actions">
    <button _ngcontent-c22="" mat-button="" class="mat-button">
      <span class="mat-button-wrapper">LIKE</span>
      <div class="mat-button-ripple mat-ripple" matripple="">

      </div>
      <div class="mat-button-focus-overlay">

      </div>
    </button>
    <button _ngcontent-c22="" mat-button="" class="mat-button">
      <span class="mat-button-wrapper">SHARE</span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </button>
  </mat-card-actions>
</mat-card>