  .body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
  }
  .header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    color: black;
  }

 .block{
   width: 100%;
 }

  .right{
    float: right;
    position: relative;
    width: 100%;
  }

  .left{
    float: left;
    position: relative;
    width: 100%;
  }

  .Education{
    display: inline;
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  .skills{
    display: inline;
    display: flex;
    flex:1;
    justify-content: space-around;
  }

  .Certificate{
    display: inline;
    display: flex;
    flex: 1;
    justify-content: space-around;
    
  }

  .Location{
    display: inline;
    display: flex;
    flex: 1;
    justify-content: space-around;
    
  }
  
  @media only screen and (max-width: 430px) {
    .left,
    .right {
      display: none;
    }
    .stuff {
      width: 100%;
      margin-left: 10px;
    }
  }