<div class = "body" #body>
  <div class="header">
    <h4><b>{{this.name}}</b></h4>
    <h6><i>{{this.email}}</i></h6>
  </div>
  <div>
    
  </div>
<div ng-app="mainApp">
    <div class="container" >
      <div class="row">
        <div class="col-md-8" ng-controller="Resume">
          <div class="panel-body1" ng-model="card">
            <div class="panel-heading">
                <p><strong></strong></p> 
              <div class = 'container1'>
                  <app-employee-dashboard-smart (employeeEmit) = "onReciving($event)"></app-employee-dashboard-smart>
                 
                 
                <div class="block">
                    <div class = "Education">
                      <div class = "left">
                        <p><strong>Education:</strong></p>
                      </div>
                      <div class = "right">
                        <p>College Name : {{this.institutionName}}</p>
                        <p>Degree : {{this.title}}</p>
                      </div>
                      </div>
                    
                   
                   <div class="skills">
                     <div class = "left">
                      <p><strong>Skill:</strong></p>
                    </div>
                    <div class = "right">
                        <p>SkillName : {{this.skillName}}</p>
                        <p>level: {{this.skillLevel}}</p>
                      </div>
                  </div>         
                  
                <div class="Certificate">
                    <div class = "left">
                     <p><strong>Certificates:</strong></p>
                   </div>
                   <div class =  "right">
                       <p>certificateName : {{this.certificateName}}</p>
                       <p>organization: {{this.certificateAuthority}}</p>
                    </div>
                </div>      

                <div class="Location">
                    <div class = "left">
                     <p><strong>Locations:</strong></p>
                   </div>
                   <div class =  "right">
                       <p>cityname : {{this.cityName}}</p>
                       <p>statename: {{this.stateName}}</p>
                    </div>
                </div>
          </div>   
                    <p><strong>Projects:</strong> {{card.department}}</p>
                    <p><strong>Experience:</strong> {{card.phone}}</p>
                   </div>
            </div> 
            <div>
              
            </div> 
          </div>
        </div>
      </div>
    </div>
    
    
  </div>
  <button (click)="downloadPDF()">Download Resume</button>
      <!-- <button (click)="downloadPDF()">Download Resume</button> -->
  </div>