<mat-toolbar *ngIf="isLoggedIn">
  <span>MatchMaking Platform</span>
  <span class="header-spacer"></span>
  <span class="header-right" routerLink="/Communities">Your Communities</span>
  <button class="btn default" (click)="logout()">Logout</button>
</mat-toolbar>
<app-employee-dashboard-smart
(employeeEmit)=setEmployees($event)
></app-employee-dashboard-smart>
<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile  *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h2 class="mat-h1">{{card.title}}</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" *ngIf="isTitle(card.title,'Basic Information')" >
          <div ><h2 class="mat-h1">{{card.contents.employeeName}}</h2></div>
          <div ><h2 class="mat-h1">{{card.contents.email}}</h2></div>
        </mat-card-content>
        <mat-card-content class="dashboard-card-content" *ngIf="isTitle(card.title,'Education')" >
          <ul *ngFor="let content of card.contents" style="list-style: none">
       
          <li >
            <h1 class="mat-h2">{{content.qualification}}</h1>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>create</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Update</button>
              <button mat-menu-item>Delete</button>
            </mat-menu>
          </li>
          <li >{{content.summary}}</li>
          <li>{{content.institution}}</li>
          <li >{{content.startDate}}</li>
          <li >{{content.endDate}}</li>
          </ul>
        </mat-card-content>
        <mat-card-content class="dashboard-card-content" *ngIf="isTitle(card.title,'Skills')" >
          <ul *ngFor="let content of card.contents" style="list-style: none">
       
            <li ><h1 class="mat-h2">{{content.skillName}}</h1>
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>create</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Update</button>
                <button mat-menu-item>Delete</button>
              </mat-menu>
            </li>
            <li >{{content.skillLevel}}</li>
            </ul>    </mat-card-content>
        <mat-card-content class="dashboard-card-content" *ngIf="isTitle(card.title,'Project')" >
              <ul *ngFor="let content of card.contents" style="list-style: none">
           
              <li ><h1 class="mat-h2">{{content.projectTitle}}</h1>
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>create</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Update</button>
                  <button mat-menu-item>Delete</button>
                </mat-menu>
              </li>
              <li >{{content.role}}</li>
              <li >{{content.fromDate}}</li>
              <li>{{content.toDate}}</li>
              <li><a href="content.projectUrl">{{content.projectUrl}}</a></li>
              <li >{{content.description}}</li>
              </ul>
            </mat-card-content>

            <mat-card-content class="dashboard-card-content" *ngIf="isTitle(card.title,'Location')" >
              <ul *ngFor="let content of card.contents" style="list-style: none">
              <h1>Current Location</h1>
              <li ><h1 class="mat-h2">{{content.currentLocation}}</h1>
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>create</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Update</button>
                  <button mat-menu-item>Delete</button>
                </mat-menu>
              </li>
              <ul *ngFor="let content of card.contents" style="list-style: none">
                <li>
                  {{content.pastLocation}}
                </li>>  
              </ul>
              <!-- <li >{{content.pastLocation}}</li>
              <li >{{content.fromDate}}</li>
              <li>{{content.toDate}}</li>
              <li><a href="content.projectUrl">{{content.projectUrl}}</a></li>
              <li >{{content.description}}</li> -->
              </ul>
            </mat-card-content>
      
    
      </mat-card>

     
    </mat-grid-tile>
  </mat-grid-list>
</div>
<app-card class="fab-button"></app-card>
