.grid-container {
  margin: 50px;
}

.card1{
  padding-bottom: 10px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 5px;
  bottom: 5px;
}

.dashboard-card-content{
  font-family: 'Roboto', sans-serif;
} 
.mat-h1{
  -moz-text-align-last: center;
  text-align-last : center;
  text-align: center;
}
.more-button {
  position: absolute;
  top: 5px;
  right: 25px;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
}
.Container{
  flex-direction: column;
  flex-wrap: wrap;
  flex: auto;
}
.dashboard-card-content {
  text-align: center;
}

.fab-button{
  position: fixed;
  right: 10px;
  bottom: 10px;
}
.header-spacer {
  flex: 1 1 auto;
}
.header-right {
  padding: 0 14px;
}
.btn {  
  display: inline-block;
  padding: 0 14px;
}