<nav *ngIf="isLoggedIn" class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/src/assets/images/nav-logo.png" class="d-inline-block align-top" alt="">
    MatchMaking
  </a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navToggle" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"  href="#">
            <span class="header-right" routerLink="/Communities">Your Communities</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <button mat-stroked-button (click)="logout()">Logout</button>
          </a>
        </li>
      </ul>
    </div>
</nav>
<app-employee-dashboard-smart
(employeeEmit)=setEmployees($event)
>
</app-employee-dashboard-smart>
<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="250px">
    <mat-grid-tile  *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card" *ngIf="card.contents.length!=='0'">
        <mat-card-header>
          <mat-card-title>
            <h2 class="mat-h1">{{card.title}}</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content"  *ngIf="isTitle(card.title,'Basic Information')" >
          <div ><h2 class="mat-h1">{{card.contents.employeeName}}</h2></div>
          <div ><h2 class="mat-h1">{{card.contents.email}}</h2></div>
        </mat-card-content>
        <mat-card-content class="dashboard-card-content" *ngIf="isTitle(card.title,'Education')" >
          <div class ="Wrapper">
            <mat-card class="card1" *ngFor="let content of card.contents" >
              <!-- <mat-card-header>
                <h3 class="mat-h3">{{content.qualification}}</h3>
              </mat-card-header> -->
              <mat-card-content>
                  <div class = "button">
                      <button mat-icon-button class="more-button">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button class="delete-button" (click)=onDelete(content,card.title)>
                            <mat-icon>delete</mat-icon>
                          </button>
                  </div>
                <div> <h2 class="mat-h3">{{content.qualification}}</h2></div>
                <div><p>{{content.summary}}</p></div>
                <div>{{content.institution}}</div>
                <div>{{content.startDate}} - {{content.endDate}}</div>
              </mat-card-content>
            </mat-card>
            </div>
        </mat-card-content>
        <mat-card-content class="dashboard-card-content" *ngIf="isTitle(card.title,'Skills')" >
            <div class ="container">
              <mat-card class="card1" *ngFor="let content of card.contents" >
                <mat-card-title>
                    <div>{{content.skillName}}</div>
                    <div class = "button">
                        <button mat-icon-button class="more-button">
                            <mat-icon>edit</mat-icon>
                          </button>
                          <button mat-icon-button class="delete-button" (click)=onDelete(content,card.title)>
                              <mat-icon>delete</mat-icon>
                            </button>
                    </div>
                </mat-card-title>
                <mat-card-content>
                  <div>{{content.skillLevel}}</div>

                </mat-card-content>
              </mat-card>
              </div>
          </mat-card-content>
          <mat-card-content class="dashboard-card-content" *ngIf="isTitle(card.title,'Project')" >
              <div class ="Wrapper">
                <mat-card class="card1" *ngFor="let content of card.contents" >
                  <mat-card-content>
                      <div class = "button">
                          <button mat-icon-button class="more-button">
                              <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button class="delete-button" (click)=onDelete(content,card.title)>
                                <mat-icon>delete</mat-icon>
                              </button>
                      </div>
                    <div>{{content.projectTitle}}</div>
                    <div>{{content.role}}</div>
                    <div>{{content.fromDate}}-{{content.toDate}}</div>
                    <div><a href="content.projectUrl">{{content.projectUrl}}</a></div>
                    <div>{{content.description}}</div>
                    <div *ngFor= "let skills of content.technologiesUsed">
                        <div>
                          {{skills.skill}}
                        </div>
                    </div>

                  </mat-card-content>
                </mat-card>
                </div>
            </mat-card-content>
            <mat-card-content class="dashboard-card-content" *ngIf="isTitle(card.title,'Location')" >
              <div class ="Wrapper">
                <mat-card class="card1" *ngFor="let content of card.contents" >
                  <mat-card-content>
                      <div class = "button">
                          <button mat-icon-button class="more-button">
                              <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button class="delete-button" (click)=onDelete(content,card.title)>
                                <mat-icon>delete</mat-icon>
                              </button>
                      </div>
                    <div>{{content.currentCityName}}</div>
                    <div>{{content.cuurentStateName}}</div>
                    <div *ngFor= "let pastLocation of content.pastLocation">
                        <div>
                          {{pastLocation.cityName}}
                        </div>
                        <div>{{pastLocation.stateName}}</div>
                    </div>
                  </mat-card-content>
                </mat-card>
                </div>
            </mat-card-content>
            <mat-card-content class="dashboard-card-content" *ngIf="isTitle(card.title,'Certificate')" >
                <div class ="Wrapper">
                  <mat-card class="card1" *ngFor="let content of card.contents" >
                    <mat-card-content>
                        <div class = "button">
                            <button mat-icon-button class="more-button">
                                <mat-icon>edit</mat-icon>
                              </button>
                              <button mat-icon-button class="delete-button" (click)=onDelete(content,card.title)>
                                  <mat-icon>delete</mat-icon>
                                </button>
                        </div>
                      <div><h2>{{content.certificateName}}</h2></div>
                      <div>{{content.certificateAuthority}}</div>
                      <div>{{content.licenseNumber}}</div>
                      <div>{{content.fromDate}} - {{content.toDate}}</div>
    
                    </mat-card-content>
                  </mat-card>
                  </div>
              </mat-card-content>
            <mat-card-content class="dashboard-card-content" *ngIf="isTitle(card.title,'Experience')" >
                <div class ="Wrapper">
                  <mat-card class="card1" *ngFor="let content of card.contents" >
                    <mat-card-content>
                        <div class = "button">
                            <button mat-icon-button class="more-button">
                                <mat-icon>edit</mat-icon>
                              </button>
                              <button mat-icon-button class="delete-button" (click)=onDelete(content,card.title)>
                                  <mat-icon>delete</mat-icon>
                                </button>
                        </div>
                      <div><h2>{{content.organisation}}</h2></div>
                      <div>{{content.role}}</div>
                      <div>{{content.fromMonth}} - {{content.toMonth}}</div>
    
                    </mat-card-content>
                  </mat-card>
                </div>
              </mat-card-content>
      </mat-card>

     
    </mat-grid-tile>
  </mat-grid-list>
</div>
<app-card class="fab-button"></app-card>
