<mat-toolbar *ngIf="isLoggedIn">
    <h1>MatchMaking Platform</h1>
    <span class="header-spacer"></span>
    <button class="btn default" (click)="logout()">Logout</button>
  </mat-toolbar>


  <!--search box with mic and search button-->
    <mat-form-field [formGroup]="queryForm" class="searchInput">
        <input matInput formControlName="query"  placeholder="Enter your Query" [(ngModel)]="msg" color="primary" name="search" (keyup.enter)="submitQuery($event)" required>
    </mat-form-field>
    <mat-card-actions>
        <button id = "mic" class="btn btn-info" (click)="toggleVoiceRecognition()"><mat-icon *ngIf="!started">mic_none</mat-icon> <mat-icon *ngIf="started">mic</mat-icon></button>
        <button id = "search" class="btn btn-primary" (click)="submitQuery()">Search</button>
    </mat-card-actions>
          

 <!-- Use ng-template to ensure that the generated components end up in the right place -->
<div>
  <ng-template class="container1" #container>

  </ng-template>
</div>




