.header-spacer {
    flex: 1 1 auto;
  }

mat-toolbar {
  background-color: #57574d;
  h1 {
    color: white;
  }
}
.container1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.searchInput {
  display: inline-block;
  width: 80%;
}

#mic {
  margin: 1rem;
  width : 45px;
  height : 2.5rem;
}

#search {
  width : 100px;
  height : 2.5rem;
}
@media screen and (max-width: 800px) {
  .searchInput {
    display: inline;
  }
  mat-card-actions {
    display: flex;
    justify-content: center;
  }
  #mic {
    margin : 0 2rem;
    width : 45px;
  }
  
  #search {
    width : 100px;
  }
}