.container1 {
    display: flex;
    flex-wrap : wrap;
    flex-direction: row;
    justify-content: flex-start;
}

/* .container {
    background-color:coral;
} */

.combine {
    display: flex;
    align-content: center;
}
body{
    /* background-image: url("/home/cgi/Documents/visitingcard.jpg"); */
    background-color: cornflowerblue;
}