<body>
<div ng-app="mainApp">
    <div class="container" #container>
      <div class="row">
        <div class="col-md-4" ng-controller="businessCard">
          <div class="panel panel-info" ng-model="card">
            <div class="panel-heading">
              <div class = 'container1'>
                  <app-employee-dashboard-smart (employeeEmit) = "onReciving($event)"></app-employee-dashboard-smart>
                 <!-- <div class = "userpic">
                    <img src="/src/assets/images/user-pic-unavailable.png" class="rounded-circle" alt="profilePic">
                  </div>   -->
                  <div class="panel-body">
                    <p>{{this.name}}</p>
                    <p> {{this.email}}</p>
                    <p><strong>Address:</strong> {{card.address}}</p>
                    <p><strong>Phone:</strong> {{card.phone}}</p>
                   </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <button (click)="downloadPDF()">Download Card</button>
  </div>
</body>