<section>
  <h2>Add Info</h2>
  <mat-dialog-content>
    <section class="details">
      <section class="sub-details"  (click)="educationClick()">Education Info</section>
      <section class="sub-details" (click)="skillClick()">Skill Info</section>
      <section class="sub-details" (click)="projectClick()">Project Info</section>
      <section class="sub-details" (click)="certificateClick()">Certificate Info</section>
      <section class="sub-details" (click)="locationClick()">Address Info</section>
      <section class="sub-details" (click)="experienceClick()">Experience</section>
      <section class="sub-details" (click)="interestClick()">Interests</section>
    </section>
  </mat-dialog-content>
  <div>
    <button mat-button color="accent" (click)="close()">Close</button>
  </div>
</section>